@import '../variables.css';

:root {
  --animCircOut: cubic-bezier(0.19, 1, 0.22, 1);
  --lightBorderColor: color(var(--yellow) lightness(+30%));
  --bigScale: scale(1.2, 1.2);
  --hoverAnim: all 2s var(--expoOut);
  --returnAnim: all 1s var(--expoOut);
  --contentBackgroundColor: color(var(--yellow) alpha(85%));
  --expandDuration: 1s;
  --iconSize: 50px;
  --iconSizeExpanded: 22px;
  --bubbleTitleHeight: 40px;
}

.bubbleExplorerRoot {
  position: relative;
  height: 900px;
  width: 100%;
}

.nextButton {
  position: absolute;
  top: 530px;
  right: -15px;
  height: 120px;
  width: 110px;
  background: color(var(--yellow) alpha(70%));
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  transition: all 4s var(--expoOut);

  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 34px;
    color: var(--white);
    text-shadow: var(--textShadowDarkBlue);
    transition: all 1s var(--expoOut);
    user-select: none;
    margin-top: 4px;
  }

  &:hover {
    transform: translateX(-5px);

    i {
      color: var(--darkBlue);
      text-shadow: var(--textShadowWhite);
      transform: scale(1.3, 1.3);
      transition: transform 5s var(--expoOut);
    }
  }

  &:active {
    background: var(--yellow);
    transition-duration: .5s;
  }
}

.philNode {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: absolute;
  transition: all var(--expandDuration) var(--expoOut);
  top: 0;
  left: 0;
  width: 100%;

  &:hover, &.expanded {
    .contentArea {
      box-shadow: 0 0 54px rgba(0,0,0,.54),
                  0 12px 52px rgba(0,0,0,.15);
      transform: var(--bigScale);
      background: color(var(--yellow) alpha(95%));
      border-color: var(--darkBlue);
      transition: var(--hoverAnim);
    }

    i {
      color: var(--darkBlue);
      transition: var(--hoverAnim);
    }

    .titleArea {
      transform: translateY(-10px) var(--bigScale);
      background: var(--darkBlue);
      box-shadow: 0 5px 14px rgba(0,0,0,.74),
                  0 12px 12px rgba(0,0,0,.20);
      transition: all 10s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: pointer;
    }
  }

  &.expanded {
    cursor: initial;

    .contentArea {
      height: 100%;
      max-height: 300px;
      width: 100%;
      border-color: var(--darkBlue);
      transition-duration: var(--expandDuration);
      border-radius: 30px;
      transform: none;
      padding: 10px 30px 50px;
      overflow: scroll;
    }
    .content {
      opacity: 1;
      visibility: visible;
      height: initial;
      color: var(--darkBlue);
      transition-property: color transform height opacity;
      transition-duration: 1.5s;
      transition-delay: 1s;
      transform: none;
    }
    i {
      font-size: var(--iconSizeExpanded);
      line-height: initial;
      height: initial;
      transition-duration: var(--expandDuration);
    }
    .titleArea {
      transform: translateY(-23px) var(--bigScale);
    }
  }

}

.contentArea {
  text-align: center;
  border-radius: 100%;
  padding: 10px;
  height: var(--iconSize);
  transition: all 2s var(--expoOut);

  i {
    height: var(--iconSize);
    width: var(--iconSize);
    color: var(--white);
    font-size: 34px;
    line-height: var(--iconSize);
    margin: 1px 0 0 1px;
    transition: var(--returnAnim);
  }
}

.content {
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.titleArea {
  border-radius: 70px;
  background: color(var(--darkBlue) alpha(95%));
  border: 1px solid color(var(--darkBlue) lightness(+5%));
  height: var(--bubbleTitleHeight);
  line-height: var(--bubbleTitleHeight);
  text-align: center;
  font-size: 16px;
  color: var(--white);
  padding: 0 15px;
  transform: translateY(2px);
  box-shadow: 0 0 14px rgba(0,0,0,.54),
              0 12px 12px rgba(0,0,0,.18);
  transition: var(--returnAnim);
  z-index: 2;
  user-select: none;
  cursor: default;
}
