/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --linkFontSize: 26px;
}

.navArea {
  position: absolute;
  top: 0;
  left: 20px;

  &:hover .navLogoTxt {
    color: var(--darkBlue);
    text-shadow: var(--textShadowWhite);
  }
  &:active {
    background: var(--yellow);
    transition-duration: .5s;
  }
}

.navLogo {
  color: color(var(--brandColor) lightness(+10%));
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
}

.navLogoTxt {
  font-family: Rancho;
  font-size: 48px;
  text-align: center;
  display: block;
  color: #F7F7F7;
  user-select: none;
  padding: 0 30px;
  text-shadow: var(--textShadowDarkBlue);
  transition: all 1s var(--expoOut);
}
