@import '../variables.css';

:root {
  --lightYellow: color(var(--yellow) alpha(95%));
  --postTypeInsetHorizontal: 10%;
  --typeItemHeight: 60px;
  --typeIconSize: 40px;
  --borderColor: color(var(--yellow) lightness(-10%));
  --publishButtonHeight: 50px;
  --inputAreaHeight: 33px;
}

.postListRoot {
  margin-bottom: 110px;
}

.postContentArea {
  position: relative;
  width: 60%;
  /*height: 400px;*/
  margin: 40px auto;
  padding: 30px;
  border-radius: 30px;
  background: var(--lightYellow);
  transition: all 3s var(--expoOut);
  display: flex;
  flex-direction: column;

  &.expanded {
    height: initial;
  }

   & > * {
    flex: 0 0 auto;
   }

   &:first-child {
    margin-top: 120px;
   }
}

@media(max-width: var(--mobileNavMaxWidth)) {
  .postListRoot {
    margin-top: 210px;
  }

  .postContentArea {
    padding: 15px;
    border-radius: 15px;
  }
}

.videoArea {
  position: relative;
  padding-bottom: 52.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.videoArea iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.postContent {
  overflow: hidden;
  flex: 0 1 auto;
  margin-top: 10px;
  text-align: center;
}

.expandButton {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    transform: translateX(-50%) scale(1.3, 1.3);
  }
}

.typeArea {
  /*display: flex;*/
  display: none;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 30px;
  cursor: pointer;
}

.typeItem {
  background: var(--yellow);
  color: var(--darkBlue);

  flex: 0 0 var(--typeItemHeight);
  text-align: center;
  position: relative;
  height: var(--typeItemHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
  border: 1px solid color(var(--yellow) lightness(+15%));
  transition: all 1s var(--expoOut);
  box-shadow: var(--lightShadow);

  &:hover:not(.typeItemSelected) {
    transform: scale(1.1, 1.1);
  }

  i {
    font-size: 22px;
  }

  .typeName {
    font-size: 13px;
  }

  &.typeItemSelected {
    background: var(--darkBlue);
    color: var(--yellow);
    border: 1px solid color(var(--darkBlue) lightness(+10%));
    cursor: default;
    box-shadow: none;
  }
}

.imageButtonArea {
  position: absolute;
  top: -50px;
  right: 165px;
  /*display: flex;*/
  display: none;
  cursor: pointer;
}

.publishArea {
  position: absolute;
  top: -35px;
  right: 0px;
  /*display: flex;*/
  display: none;
  flex-direction: column;
  height: 60px;
  transition: all .5s var(--expoOut);

  &:hover {
    height: initial;
    padding-bottom: 10px;

    .publishOptionHidden {
      transform: none !important;
      visibility: visible;
      box-shadow: var(--lightShadow);
      &:hover {
        transform: scale(1.1, 1.1) !important;
      }
    }
  }
}

.publishOption {
  height: var(--publishButtonHeight);
  line-height: var(--publishButtonHeight);
  width: 100px;
  box-shadow: var(--lightShadow);
  border-radius: 30px;
  background: var(--darkBlue);
  padding: 0 15px;
  margin: 5px 0;
  cursor: pointer;
  transition: all .5s var(--expoOut);
  position: relative;
  color: var(--yellow);

  &:hover {
    transform: scale(1.1, 1.1) !important;
  }

  i {
    width: 25px;
    text-align: center;
  }
}

.publishOptionHidden {
  visibility: hidden;
  box-shadow: none;
}

.publishOptionDisabled {
  display: none;
}

.publishOptionText {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
}

.inputArea {
  margin-bottom: 15px;
  font-weight: 600;
  line-height: var(--inputAreaHeight);
  height: var(--inputAreaHeight);
  display: none;
}

.titleArea {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.title {
  text-align: center;
}

.categoryArea {
  flex: 0 0 30%;
  margin-right: 5px;
}

.tagArea {
  flex: 1 0 auto;
  margin-left: 5px;
}

.secondaryInputArea {
  /*display: flex;*/
  display: none;
  flex-direction: row;
  font-size: 15px;
}
