@import '../variables.css';

.postListRoot {

}

.postContentArea {
  width: 60%;
  height: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 30px;
  background: color(var(--yellow) alpha(95%));
  overflow: hidden;
}
