@import './variables.css';

:root {
  --returnAnim: all 1s var(--expoOut);
  --contentBackgroundColor: color(var(--yellow) alpha(85%));
}

.contentBoxArea {
  background: var(--contentBackgroundColor);
  border: 1px solid var(--lightBorderColor);
  box-shadow: var(--lightShadow);
  transition: var(--returnAnim);
}

.contentBox {
  font-size: 18px;
  color: var(--contentBackgroundColor);
  text-shadow: var(--textShadowWhiteLight);
  transform: scale(.96, .96) translateY(5px);
  transition-timing-function: var(--expoOut);

  &.visible {
    visibility: visible;
    height: initial;
    color: var(--darkBlue);
    transition-property: color transform;
    transition-duration: 1.5s;
    transition-delay: .9s;
    transform: none;
  }
}
