@import '../variables.css';

:root {
  --linkColor: #FCF8E6;
  --linkFontSize: 26px;
}

.navSocialNetworks {
  display: inline-block;
  position: absolute;
  right: 20px;
  width: var(--headerPillWidth);
  text-align: center;
}

@media(max-width: var(--mobileNavMaxWidth)) {
  .navSocialNetworks {
    top: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.navLink {
  display: inline-block;
  text-decoration: none;
  font-size: var(--linkFontSize);
  color: var(--white);
  cursor: pointer;
  width: 45px;
  text-align: center;
  transition: all 1s var(--expoOut);

  &:hover {
    color: var(--darkBlue);
    transform: scale(1.3, 1.3);
    transition-duration: 5s;

    i {
      color: var(--darkBlue);
      text-shadow: var(--textShadowWhite);
    }
  }

  i {
    color: var(--white);
    text-shadow: var(--textShadowDarkBlue);
    transition-duration: 1s;
    transition-timing-function: var(--expoOut);
    transition-property: color text-shadow;
  }
}
