@import '../variables.css';

:root {
  --expandIconSize: 50px;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bgArea {
  position: relative;
  width: 100%;

  &.expanded {
    z-index: 50;
  }
}

.bgImage {
  width: 100%;
  border-bottom: 2px solid var(--yellow);
}

.topImageArea {
  width: 100%;
  overflow: hidden;
}

.topImage {
  width: initial;
}

.expandButton {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;
}
