@import '../variables.css';

:root {
  --expandIconSize: 50px;
  --expandIconSizeSmall: 40px;
  --clikHintScaleSmall: .8;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bgArea {
  position: relative;
  width: 100%;

  &.expanded {
    z-index: 50;
  }
}

.bgImage {
  width: 100%;
  border-bottom: 2px solid var(--yellow);
}

.topImageArea {
  width: 100%;
  overflow: hidden;
}

.topImage {
  width: 100%;
}

.expandButton {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;
}

@media(max-width: 620px) {
  div.expandButton {
    top: 10px;
    right: 10px;
    height: var(--expandIconSizeSmall);
    width: var(--expandIconSizeSmall);
  }

  .expandButton i.expandIcon {
    line-height: var(--expandIconSizeSmall);
    font-size: 15px;
  }

  .clikHint {
    font-size: 18px;
  }
}

@keyframes pulse {
  0% {
    transform: rotateZ(-20deg) translateX(-50%) scale(var(--clikHintScaleSmall), var(--clikHintScaleSmall));
  }

  50% {
    transform: rotateZ(-10deg) translateX(-50%) scale(1, 1);
  }

  100% {
    transform: rotateZ(-20deg) translateX(-50%) scale(var(--clikHintScaleSmall), var(--clikHintScaleSmall));
  }
}

.clikHint {
  font-family: 'Gloria Hallelujah';
  font-size: 24px;
  color: var(--white);
  text-shadow: 3px 3px color(#6b62dd alpha(100%));

  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateY(-50%);
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: var(--sinOut);
  animation-iteration-count: infinite;
  user-select: none;
}

